@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<br />
<a asp-controller="Student" asp-action="Index" class="btn btn-primary">
    Student Management
</a>

<br />
<br />

<a asp-controller="Account" asp-action="Login" class="btn btn-success">
    Student Login
</a>
